body {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #292b2c;
    background-color: #2f2e2e;
}

h1{
   margin: 32px;
   color: white;
   align-items: center;
   justify-content: center;
   display: flex;
   font-family: 'Montserrat', sans-serif;
   font-size: 28px;
   font-weight: bold;
}

.logo{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 146px ;
   
}
.logo img{
    width: 275px; 
    border: 5px solid #555;
}

.bottom{
    text-align: center;
}

.bottom img{
    margin: 12px;
    width: 60px;
    margin-bottom: 80px;
}
.selectCountry{
    font-size: 16px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.copyright{
    color: white;
    font-size: 13px;
    opacity: 0.4;
    justify-content: center;
    display: flex;
}

.flags img:hover {
    box-shadow: 0 0 20px rgba(0, 0, 255, 0.7);
}