body {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #292b2c;
    background-color: transparent;
    background-image: url(./assets/MicrosoftTeams-image.png);
}

h1{
   margin: 32px;
   color: #375f90;
   align-items: center;
   justify-content: center;
   display: flex;
   text-align: center;

   font-family: 'Montserrat', sans-serif;
   font-size: 28px;
   font-weight: bold;
}

.logo{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 130px ;
}
.logo img{
    width: 275px;
}

.bottom{
    text-align: center;
}

.bottom img{
    margin: 12px;
    width: 60px;
    margin-bottom: 30px;
}
.selectCountry{
    color: #375f90;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;

}

.copyright{
    margin-top: 100px;
    font-size: 13px;
    justify-content: center;
    display: flex;
}

.countryNames{
    display: none;
}


.flags img:hover {
    box-shadow: 0 0 20px rgba(242, 122, 47, 0.7);
}

.flags a .country-text {
    position: absolute;
    color: #375f90;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    left: 50%;
    transform: translateX(-50%);
    padding: -30px;
    display: none; 
    width: 50%;
    text-align: center;
    
  }

.flags a:hover .country-text {
    display: block; 
}